---
---
body {
  width: 600px;
  margin: 0 auto;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.header {
  background-color: #093273;
  color: white;
  padding: 20px;
}

h2 {
  color: #093273;
}
