<footer class="footer">
    <div class="copy_container">
        <p class="name">Brent Danley</p>
        <p class="copyright">&copy; {{ site.time | date: '%Y' }}</p>
    </div>
    <div class="contact_info">
        <a href="mailto:brent@brentdanley.com" title="Email Brent Danley"><i class="fas fa-envelope"></i> brent@brentdanley.com</a><br />
        <a href="tel:207-423-7145" title="Call Brent Danley"><i class="fas fa-phone"></i> (207) 423-7145</a>
    </div>
    <div class="social_icons">
        <a href="https://www.linkedin.com/in/brentdanley/" title="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
        <a href="https://twitter.com/brentdanley" title="Twitter"><i class="fab fa-twitter"></i></a>
    </div>
</footer>