.masthead-title {

  a {
    text-decoration: none;
    color: #093273;
  }
}
  
.header {
  background-color: #093273;
  padding: 20px;
  font-family: 'Amatic SC', cursive;
  display: flex;
  align-items: center;

  .profile_picture {
    width: 120px;
    border: 6px solid white;
    border-radius: 66px;
    margin-right: 25px;
  }

  .post-title {
    color: white;
  }

  a {
    color: white;
    text-decoration: none;
    font-size: 40px;
  }
}