/* line 1, ../sass/style.scss */
body {
  width: 600px;
  margin: 0 auto;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* line 7, ../sass/style.scss */
.header {
  background-color: #093273;
  color: white;
  padding: 20px;
}

/* line 13, ../sass/style.scss */
h2 {
  color: #093273;
}
